<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routing Table Topology</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }

        #network {
            width: 100%;
            height: 850px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <!-- vis.js CDN 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="network"></div>

    <h1>Routing Table Topology</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Next Hop</th>
                    <th>Route Type</th>
                </tr>
            </thead>
            <tbody id="routingTableBody">
                <!-- Routing table entries will be inserted here dynamically -->
            </tbody>
        </table>
    </div>
    <script>
        // 네트워크 데이터 생성 (간단한 예시)
        const nodes = new vis.DataSet([
            { id: 1, label: 'T-0 Edge', color: 'black', shape: 'image', image: '/static/edge.png' },
            { id: 2, label: 'T1 Compute gateway',shape: 'image', image: '/static/t1-gateway.png' },
            { id: 3, label: 'T1 MGMT gateway',shape: 'image', image: '/static/t1-gateway.png' },
            { id: 4, label: 'TGW ',shape: 'image', image: '/static/tgw.png' },

        ]);

        const edges = new vis.DataSet([
            { from: 1, to: 2 },
            { from: 1, to: 3 },
            { from: 1, to: 4 },

        ]);

        // 네트워크 생성
        const container = document.getElementById('network');
        const data = {
            nodes: nodes,
            edges: edges
        };
        const options = {};
        const network = new vis.Network(container, data, options);

        function fetchRoutingtable() {
            // 입력된 sddc_id와 org_id 가져오기
            const sddc_id = "c1363dbf-4957-403f-be60-82e1e8acbb44";
            const org_id = "a684185a-37b4-47de-84b4-4fcc4f77600d";

            // GET 요청으로 라우팅 테이블 정보 가져오기
            fetch(`/get_routing_tables?sddc_id=${sddc_id}&org_id=${org_id}`)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('routingTableBody');
                    // 테이블 내용 초기화
                    tableBody.innerHTML = '';
                    // 라우팅 테이블 정보를 테이블 형태로 표시
                    data.forEach(entry => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${entry.network}</td>
                            <td>${entry.next_hop}</td>
                            <td>${entry.route_type}</td>
                        `;
                        tableBody.appendChild(row);

                        // t1c, t1s, t0s 타입일 때 노드로 추가
                        if (entry.route_type === 't1c' || entry.route_type === 't1s' || entry.route_type === 't0s' && entry.next_hop === '10.5.1.97') {
                            nodes.add({ id: entry.network, label: entry.network });
                        }
                       

                        
                    });
                    // t1c, t1s 타입인 노드들을 최하위 계층으로 연결
                    data.filter(entry => entry.route_type === 't1c').forEach(entry => {
                        edges.add({ from: 2, to: entry.network });
                    });
                    data.filter(entry => entry.route_type === 't1s').forEach(entry => {
                        edges.add({ from: 3, to: entry.network });
                    });
                    data.filter(entry => entry.route_type === 't0s' && entry.next_hop === '10.5.1.97' ).forEach(entry => {
                        edges.add({ from: 4, to: entry.network });
                    });



                  

                    
                })
                .catch(error => console.error('Error fetching routing tables:', error));
        }
        // 페이지 로드될 때 라우팅 테이블 정보를 가져옴
        fetchRoutingtable();
    </script>
</body>
</html>